[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-tron-solidity"]
	path = lib/openzeppelin-tron-solidity
	url = https://github.com/OpenZeppelin/tron-contracts.git
